.page-header {
    background-color: #9694938c;
    margin-top: 0;
    padding: 20px 20px 20px 20px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #004d06;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Kanit', cursive;
}

.date {
    padding-top: 15px;
    color: #e3e4e6e5;
    font-size: 12pt;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #202020;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    padding-left: 15px;
    padding-top: 5px;
    margin-bottom: 20px;
    background-color: rgba(116, 117, 117, 0.514);
}

.post h2 a, .post h2 a:visited {
    color: #006305;

}

body {
    background-color: rgba(38, 199, 105, 0.74);
    color: #fffafa;
    font-size: 16pt;

}

.col-md-8{
   
    width: 900px;
}